<style type="text/css">
<!--

p {
	font-family: Arial Narrow, Arial; 
	font-size: 12pt;
	font-weight: normal;
	color: #FFFFFF;
}

body {
	font-family: Arial Narrow, Arial; 
	font-size: 12pt;
	font-weight: bold;
	background-color: #112233;
	margin-left = 20;
	margin-top = 15;
	margin-right = 20;
}

tr.monkeyface1 td {
	background-color: #222222;
}

tr.monkeyface2 td {
	background-color: #996633;
}
tr.monkeyface3 td {
	background-color: #996633;
}

tr.monkeyface4 td {
	background-color: #000000;
}

tr.monkeyface5 td {
	background-color: #339966;
}

td {
	font-family: Arial Narrow, Arial; 
	font-size: 12pt;
	font-weight: normal;
	color: #FFFFFF;	
	background-color: #223344;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

td.copybackground {
	background-color: #112233;
}

select {
	width = 100%;
}

a {
	font-family: Arial Narrow, Arial; 
	font-size: 12pt;
	font-weight: bold;
	color: #99ddbb;
	text-decoration: underline;
}

a:visited {
	font-family: Arial Narrow, Arial; 
	font-size: 12pt;
	font-weight: bold;
	color: #99DDBB;
	text-decoration: underline;  
}

a:hover {
	font-family: Arial Narrow, Arial; 
	font-size: 12pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;  
}

-->
</style>

